<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
	<body>
		<div class="container">
			<form action="/nuevosDatos" method="POST">
				<div class="form-group">
      		<label for="nombreGrupo">Nombre del Grupo:</label>
         		<input type="text" class="form-control" id="nombreGrupo" placeholder="El nombre debe coincidir para poder ser actualizado" name="nombreGrupo">
        </div>
				<div class="form-group">
      		<label for="numIntegrantes">Numero de Integrantes:</label>
         		<input type="text" class="form-control" id="numIntegrantes" placeholder="Nuevos integrantes de la banda" name="numIntegrantes">
        </div>
				<div class="form-group">
      		<label for="genero">Genero:</label>
         		<input type="text" class="form-control" id="genero" placeholder="Nuevo genero de la banda" name="genero">
        </div>
				<div class="form-group">
					<label for="nacionalidad">Nacionalidad:</label>
						<input type="text" class="form-control" id="nacionalidad" placeholder="Nueva nacionalidad de la banda" name="nacionalidad">
				</div>
				<div class="form-group">
					<label for="anioCreacion">Fecha de Creacion:</label>
						<input type="date" class="form-control" id="anioCreaci칩n" placeholder="Nuevo a침o de creacion de la banda" name="anioCreacion">
				</div>
				<div class="form-group">
					<label for="anioSeparacion">Fecha de Separacion:</label>
						<input type="date" class="form-control" id="anioSeparaci칩n" placeholder="Nuevo a침o de separacion de la banda" name="anioSeparacion">
				</div>
				<br>
				<button type="submit" class="btn btn-default">Actualizar</button>
			</form>

		</div>
	</body>
</html>
