<html>
<html>
	<head>
		<title>Formulario De Alta</title>
		<link rel="stylesheet" type="text/css" href="estilo.css">
	</head>
	<body>
		<div class="form">
			<form action="#" method="POST">
				<p>NOMBRE DE LA BANDA</p>
				<label for="nombreGrupo">Nombre del grupo</label>
				<br>
				<input type="text" name="nombreGrupo" placeholder="coloque nombre del grupo" required>
				<p>NUMERO DE INTEGRANTES</p>
				<label for="numIntegrantes">Numero de integrantes</label>
				<br>
				<input type="text" name="numIntegrantes" placeholder="Ingrese el numero de integrantes de la banda" required>
				<p>GENERO</p>
				<label for="genero">Genero</label>
				<br>
				<input type="text" name="genero" placeholder="Ingrese el genero de la banda" required>
				<p>NACIONALIDAD</p>
				<label for="nacionalidad">Nacionalidad</label>
				<br>
				<input type="text" name="nacionalidad" placeholder="Ingrese la nacionalidad de la banda" required>
                <p>AÑO DE CREACION</p>
				<label for="añoCreacion">Año de creacion</label>
				<br>
				<input type="text" name="añoCreacion" placeholder="Ingrese el año de creacion de la banda" required>
                <p>AÑO DE SEPARACION</p>
				<label for="añoSeparacion">Año de separacion</label>
				<br>
				<input type="text" name="añoSeparacion" placeholder="Ingrese el año de separacion de la banda" required>
				
				<br>
				<br>
				<input type="submit" value="Registrar Banda">
			</form>
		</div>
	</body>
</html>