<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Grupos musicales</h1>

  <h2> Proyecto-Final-SI </h2>

<h2>Equipo: ALFA</h2>

<h3>INTEGRANTES: </h3>

<ul>
<li> ARREOLA ESPINOSA CARLOS ERNESTO</li>

<li>XOTLA SANCHEZ DANIEL </li>

<li>POSADAS ORTIZ ALEJANDRO ASHMED </li>

<li> GUERRERO LOPEZ MARCO GIOVANNI </li>

<li> VASQUEZ ANGUIANO DAVID ANDRES </li>
</ul>
</body>
</html>