<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Solo</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:300,700|Varela+Round" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheets/solo.css">
</head>
<body>
  <h1>Auto</h1>
<h2>ID = {{datos._id}}</h2> 
<div class="row">
  <div class="col col-3 m-5">
    <div class="card" style="width:400px">
      <h4 class="card-title">Marca: {{datos.marca}}</h4>
      <img class="card-img-top" src="{{datos.imagen}}" alt="Card image" style="width:100%">
      <div class="card-body">
      <p class="card-text"> Submarca: {{datos.submarca}}</p>
      </div>
    </div>
  </div>
</div>
</body>
</html>